.RadarCanvas {

    &__Levels {
        stroke: blue;
        stroke-opacity: 0.75;
        stroke-width: 0.3px;
    }
    &__Legend {
        font-size: 11px;
        fill: #737373;
    }
    &__Axes {
        stroke: #737373;
        stroke-width: 0.3px;
    }
}