.RadarCanvas {

    &__Levels {
        stroke: blue;
        stroke-opacity: 0.75;
        stroke-width: 0.3px;
    }
    &__LevelsText {
        font-size: 11px;
        fill: #737373;
    }
    &__AxisText {
        font-size: 14px;
        font-weight: bold;
        fill: #737373;
        text-anchor: middle;
    }
    &__Axes {
        stroke: #737373;
        stroke-width: 0.3px;
    }
}