.RadarChart {
  margin-top: 20px;
  background: #fff;
  padding: 10px;
  &__Canvas {
    margin-top: 10px;
    width: 100%;
    height: 400px;
  }
  &__Levels {
    stroke: blue;
    stroke-opacity: 0.75;
    stroke-width: 0.3px;
  }
  &__Legend {
    font-size: 14px;
    fill: #737373;
  }
  &__Axes {
    stroke: #737373;
    stroke-width: 0.3px;
  }
}
