.Dashboard {
  margin-top: 20px;
  &__Container {
    display: flex;
    flex-flow: row wrap;
    padding: 20px 0;
  }
  &__Aside {
    width: 450px;
    height: 100%;
    padding: 20px 0;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }
  &__Body {
    flex: 1;
    display: flex;
    flex-flow: column;
    padding-left: 20px;
  }
  &__Chart {
    flex: 1 100%;
  }
}
